<div class="jumbotron">
  <h1>Handcrafted items from around the world.</h1>
  <h2>Discover one-of-a-kind items</h2>
</div>

<% if user_signed_in? %>
  <%= link_to new_listing_path, class: "btn btn-success", data: { no_turbolink: true } do %>
    <i class="glyphicon glyphicon-plus"></i> New Listing
  <% end %>
<% end %>
<br>
<br>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Sold by #{listing.user.name}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>