<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<%= image_tag @listing.image.url, class: "responsive-image" %>
		</div>
		<div class="col-lg-4">
			<p>
			  <strong>Name:</strong>
			  <%= @listing.name %>
			</p>

			<p>
			  <strong>Description:</strong>
			  <%= @listing.description %>
			</p>

			<p>
			  <strong>Price:</strong>
			  <%= number_to_currency(@listing.price) %>
			</p>
		</div>

		
		<% if current_user != @listing.user %>
			<%= link_to "Buy It Now", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
		<% else %>
			<h4>Good luck with sales!</h4>
		<% end %>
		
		<br><br>
		<% if current_user == @listing.user %>
			<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
		<% end %>

		<%= link_to 'Go Back', listings_path, class: "btn btn-link" %>
	</div>
</div>
